#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

geo {{ (geo.address)|ternary(geo.address, '') }} ${{ geo.name }} {
{% for line in geo._prepend %}
  {{ line }};
{% endfor %}
{% if geo.ranges %}
  ranges;
{% endif %}
{% if geo.default|string != '' %}
  default {{ geo.default }};
{% endif %}
{% if geo.delete %}
  delete {{ geo.delete }};
{% endif %}
{% if geo.proxy|length > 0 %}
  {% if geo.proxy_recursive %}
  proxy_recursive;
  {% endif %}
  {% for proxy in geo.proxy %}
  proxy {{ proxy }};
  {% endfor %}
{% endif %}
{% for network in geo.network %}
  {{ network }};
{% endfor %}
{% for line in geo._append %}
  {{ line }};
{% endfor %}
}
