#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

map {{ map.string }} ${{ map.name }} {
{% for line in map._prepend %}
  {{ line }};
{% endfor %}
{% if map.hostnames %}
  hostnames;
{% endif %}
{% if map.default|string != '' %}
  default {{ map.default }};
{% endif %}

{% for mapping in map.mapping %}
  {{ mapping }};
{% endfor %}
{% for line in map._append %}
  {{ line }};
{% endfor %}
}
