#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

upstream {{ upstream.name }} {
{% for line in upstream._prepend %}
  {{ line }};
{% endfor %}

{% for server in upstream.server %}
  server     {{ server }};
{% endfor %}

{% for line in upstream._append%}
  {{ line }};
{% endfor %}
}
